* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(20, 33, 46);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


div,
ul,
li,
select {
    display: inline-block;
    margin-left: 20px;
}


#navbar {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

select,
button {
    border: none;
    background-color: rgb(20, 33, 46);
    color: gray;
    padding: 5px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: white;
}

input {
    border-radius: 5px;
    height: 30px;
    width: 200px;
}

#search {
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    margin-left: 10px;
    margin-right: 60px;

}

#search:hover {
    color: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    margin-left: 10px;
}




@media (max-width: 768px) {

    nav {
        display: block;
    }

    .menu-icon {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .menu-icon span {
        display: block;
        width: 50px;
        height: 5px;
        background-color: #fff;
        margin-bottom: 10px;

    }

    div,
    ul,
    li,
    select {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        top: 60px;
        left: 0;
        background-color: rgb(20, 33, 46);
        width: 100%;
        padding: 10px;
        margin-left: 0;
    }

    select {
        margin-left: 1px
    }

    button {
        text-align: start;
        margin-left: 10px;
    }

    input {
        margin-left: 10px;
    }


    #search {
        display: inline-block;
        margin-top: 10px;
        padding: 10px;
        text-align: center;

    }

    #search:hover {
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
    }

}